<!DOCTYPE html>
<html>
 <head>
     <meta charset="UTF-8">
     <title>[{{data.status}}] {{data.application}} - {{data.project}}</title>
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>
     <style media="print">
     html, body, div, p, section {font-size: 10pt;}
      section {page-break-before: always;margin-top:2cm;}
      #schema>svg {/*width: 280mm;*/transform:rotate(90deg) translate( 18mm, 20mm );display:inline-block;}
        h1, h2, h3 { margin-top: 2cm;}
        thead {margin-top: 2cm;}
     </style>
     <style>

        header {position: fixed;top:0;left:0;height:2cm;line-height:2cm;font-weight:bolder;font-size: 18pt;color:#fff;background-color:#02779c;width:100%;padding: 0 1cm ;}
        section {page-break-before: always;margin-top:2cm;}
        h1, h2, h3 {font-family:"century gothic", sans-serif;color:#02779c;border-bottom: 1pt solid #02779c; }
      .DEP {fill:url(#diagonalHatch) #fff;stroke-dasharray:0;rx:30;ry:30;stroke:black;}
      .intranet {background-color:#ffdd99;}
      .internet {background-color:#ffddbb;}
      .internetF, .intranetF {background-color:#ff9999;}
      .internetP, .intranetP {background-color:#bbddff;}
      .internetA, .intranetA {background-color:#bbffdd;}
      .internetPA, .intranetPA {background-color:#bbffff;}
      .internetD, .intranetD {background-color:#ffff99;}

      .nodetopology rect {stroke-width:2;stroke:red;fill:white;}
      .nodeactive rect {stroke-width:2;stroke:green;fill:white;}
      .nodeinfra rect {stroke-width:2;stroke:blue;fill:white;}
      .nodetopology text {font-weight:bold;fill:red;}
      .nodeactive text {font-weight:bold;fill:green;}
      .nodeinfra text {font-weight:bold;fill:blue}

      .web {background-color:rgb(112,48,160);color:#fff;}
      .TCP {background-color:rgb(0,0,0);color:#fff;}
      .ftp {background-color: orange;color:#fff;}
      .ssh {background-color: fuchsia;color:#fff;}
      .database {background-color:rgb(255,0,0);color:#fff;}
      .storage {background-color: brown;color:#fff;}
      .log {background-color: blue;color:#fff;}


      .cipher-NONE {background-color: #f00;color:#fff;}

      span.status {transform:rotate(-7deg);background:#fff;box-shadow:1px 1px 2px #333; padding:1mm; display: inline-block;line-height:1cm;;}
      span.draft {color:red;}
      span.candidate {color:orange;}
      span.approved {color:green;}

      nav {background: #02779C;position: absolute;top:0;right:0;}

      th {background-color:#02779c;color:#ffffff;font-variant:small-caps;}
      td.ar {text-align:right;}
      td.sign {width:1cm;text-align:center;}
      td.al {text-align:left;}
     </style>
 </head>
 <body>
    <header>
        <span class="status {{data.status}}"><i class="fas fa-thumbs-up"></i> {{data.status}}</span> {{data.application}} - {{data.project}}
        <nav>
            <a href="#diagram"><i class="fas fa-project-diagram"> Schéma</i></a>
            <a href="#zones"><i class="fas fa-layer-group"> Zones</i> </a>
            <a href="#nodes"><i class="fas fa-server">Nodes</i></a>
            <a href="#flows"><i class="fas fa-table">Flux</i></a>
        </nav>
    </header>
    <div class="w3-content w3-row" style="max-width:1440px;">

    <section id="schema" class="w3-content">
        <a name="diagram"></a>
        <h3><i class="fas fa-project-diagram"></i> Schéma</h3>

        <a href="{{basename}}.svg"><img src="{{basename}}.svg" alt="network diagram"></a>
    </section>

    <section id="Zones" class="w3-content">
        <h3><i class="fas fa-layer-group"></i> Zones logiques</h3>

       <table summary="Network Zones" class="w3-table w3-bordered">
           <thead>
           <tr><th scope="col">ID</th><th scope="col">type</th><th scope="col">nom</th><th scope="col">Description</th></tr>
           </thead>

       {% for group in data.groups %}
           <!-- {{group.id}} -->
           {% for zone in group.zones %}
               <!-- {{zone.id}} -->

               <tr>
                   <td class="{{zone.type}}">{{zone.id}}</td>
                   <td>{{zone.type}}</td>
                   <td>{{zone.name}}</td>
                   <td>{{zone.description}}</td>

               </tr>

            {% endfor %}
           {% endfor %}
           </table>
   </section>


    <section id="Nodes" class="w3-content">
        <h3><i class="fas fa-server"></i> Machines et services</h3>
       <table summary="Nodes" class="w3-table w3-bordered">
           <thead>
           <tr><th scope="col">Zone</th><th scope="col">ID</th><th scope="col">nom</th><th scope="col">Description</th><th scope="col">Topologie</th><th scope="col">Infra</th></tr>
           </thead>

       {% for group in data.groups %}
           <!-- {{group.id}} -->
           {% for zone in group.zones %}
               <!-- {{zone.id}} -->
               {% for node in zone.all_nodes %}
               <!-- {{ node.id }} -->
               <tr>
                   <td class="{{zone.type}}">{{zone.id}}</td>
                   <td>{{node.id}}</td>
                   <td>{{node.name}}</td>
                   <td>{{node.description}}</td>
                   <td>{{node.topology}}</td>
                   <td>{{node.infra}}</td>
               </tr>
               {% endfor %}
            {% endfor %}
           {% endfor %}
           </table>
   </section>

   <section id="flows" class="w3-content">
       <h3><i class="fas fa-table"></i> Matrice de flux</h3>
       <table summary="Flow matrix" class="w3-table w3-bordered">
           <thead>
           <tr><th scope="col">Source</th><th scope="col"></th><th scope="col">Destination</th><th scope="col">Port</th><th scope="col">Protocole</th><th scope="col">Sécurité</th><th scope="col">Description</th></tr>
           </thead>

       {% for flow in data.flows %}
       <tr>

           <td class="ar">{{flow.origin}}</td>
           <td class="{{flow.type}} sign"><i class="fas fa-arrow-circle-right"></i></td>
           <td class="al">{{flow.dest}}</td>
           <td class="w3-right">{{flow.port}}</td>
           <td class="w3-center">{{flow.proto}}</td>
           <td class="cipher-{{flow.cipher}} w3-center">{{flow.cipher}}</td>
           <td>{{flow.description}}</td>
       </tr>
       {% endfor %}
           </table>
   </section>
        </div>
 </body>
</html>
